{% extends "templatefacturas.html" %}

{% block content %}
<div class="content-panel">
    <a href="personas" class="btn btn-primary mb-3">Volver</a>
    <div class="table-container">
        <table id="tabla" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nro</th>
                    <th>Número</th>
                    <th>DNI Persona Emisora</th>
                    <th>Nombre Receptor</th>
                    <th>Fecha Emisión</th>
                    <th>Monto Total</th>
                    <th>RUC</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.numero }}</td>
                    <td>{{ item.dniPersonaEmisora }}</td>
                    <td>{{ item.nombreReceptor }}</td>
                    <td>{{ item.fechaEmision }}</td>
                    <td>{{ item.montoTotal }}</td>
                    <td>{{ item.ruc }}</td>
                    <td>
                        <form action="/retenciones/ver" method="GET">
                            <input type="hidden" name="factura_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-primary">Retencion</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}